name: checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@main
      - name: install nix
        uses: cachix/install-nix-action@v31
      - name: formatting
        run: |
          nix fmt
          if [ -n "$(git status --porcelain)" ]; then
            git --no-pager diff
            exit 1
          fi
      - name: flake check
        run: nix flake check
  misc:
    runs-on: ubuntu-latest
    steps:
      - name: commit message
        uses: adamperkowski/commits@main
